{{> head}}
        <div class="container">
            <div class="row">
                <div class="span10">
                    <table class="table table-striped">
                        <thead>
                        </thead>

                        <tbody>
{{#commits}}
                            <tr>
                                <td><a href="{{url}}">{{short}}</a></td>
                                <td>{{summary}}</td>
                                <td><a href="mailto:{{author.email}}">{{author.name}}</a></td>
                                <td>{{age}}</td>
                            </tr>
{{/commits}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="span10">
                    <div class="pagination">
                        <ul>
                            {{#pagination}}
                            <li class="{{active}}"><a href="{{url}}">{{page}}</a></li>
                            {{/pagination}}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
{{> foot}}
