{{> head}}
        <div class="container">
            <div class="row">
                <div class="span8">
                    <h3>{{commit.summary}}</h3>
                    <pre>{{commit.detail}}</pre>
                </div>
            </div>

            <div class="row">
                <div class="span10">
{{#diff.files}}
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th><p>--- {{old_file}}</p>
                                    <p>+++ {{new_file}}</p></th>
                            </tr>
                        </thead>

                        <tbody>
                            {{#hunks}}
                            <tr class="diffheader">
                                <td></td>
                                <td></td>
                                <td>{{header}}</td>
                            </tr>
                            {{#lines}}
                            <tr class="diff">
                                <td>{{old_line}}</td>
                                <td>{{new_line}}</td>
                                <td class="{{kind}}" nowrap>{{data}}</td>
                            </tr>
                            {{/lines}}
                            {{/hunks}}
                        </tbody>
                    </table>
{{/diff.files}}


                </div>
            </div>

        </div>
{{> foot}}
