{{> head}}
        <div class="container">
            <div class="row">
                <div class="span10">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#">Overview</a></li>
                        <li><a href="/commits/{{branch}}">Commits</a></li>
                        <li><a href="#">Nothing</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="span10">
                    <div class="span2 btn-group">
                        <button class="btn">{{branch}}</button>
                        <button class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            {{#branches}}
                            <li><a href="#">{{name}}</a></li>
                            {{/branches}}
                        </ul>
                    </div>

                    <div class="span2 btn-group">
                        <button class="btn">Tags</button>
                        <button class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            {{#tags}}
                            <li><a href="#">{{name}}</a></li>
                            {{/tags}}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="span10">
                    <ul class="breadcrumb">
                        {{#entries.breadcrumbs}}
                        <li class="{{class}}"><a href="{{url}}">{{entry}}</a> <span class="divider">/</span></li>
                        {{/entries.breadcrumbs}}
                    </ul>
                </div>
            </div>


            <div class="row">
                <div class="span8">
                    <h3><a href="{{commit.url}}">{{commit.summary}}</a></h3>
                    <pre>{{commit.detail}}</pre>
                    <p>{{commit.author.name}}, authored {{commit.age}}</p>
                </div>
            </div>

            <div class="row">
                <div class="span10">
                    <table class="table table-striped">
                        <thead>
                        </thead>

                        <tbody>
{{#entries}}
                            <tr>
                                <td><i class="icon-{{type}}"></i> <a href="{{url}}">{{name}}</a></td>
                            </tr>
{{/entries}}
                        </tbody>
                    </table>

                </div>
            </div>

            <div class="row">
                <div class="span10">
                    {{{readme.data}}}
                </div>
            </div>

        </div>
{{> foot}}
